---
import '@styles/normalize.css'
import '@styles/variables.css'
import '@styles/global.css'
import {Font} from 'astro:assets'
import Footer from '@components/Footer.astro'
// import type {SITE_METADATA_QUERYResult} from 'sanity.types'
import type {PortableTextBlock} from 'sanity'

// type SiteMetadata = NonNullable<SITE_METADATA_QUERYResult>

interface Props {
  data?: {
    overview?: PortableTextBlock[]
    colophon?: PortableTextBlock[]
  } | null
  pageTitle?: string
}

const {data, pageTitle} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle && pageTitle + ' | '} UX Methods | Astro</title>
    <Font cssVariable="--header" preload />
    <Font cssVariable="--body" preload />
    <!-- Create a slot here for JSON-LD -->
  </head>
  <body>
    <a href="/">Back to Index</a>
    <main id="main-content">
      <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
      <slot />
    </main>
    {data && <Footer data={data} />}
  </body>
</html>
