---
import '@styles/topic-page.css'
import {loadQuery} from '@sanity/lib/load-query'
import Layout from '@layouts/Layout.astro'
import Hero from '@components/Hero.astro'
import PortableText from '@components/PortableText.astro'
import {DOCUMENTATION_QUERY} from '@sanity/sanity.queries'
import type {SanityDocument} from '@sanity/client'
import type {DOCUMENTATION_QUERYResult, HeroImage} from 'sanity.types'
import type { FooterData } from '@components/Footer.astro'


export async function getStaticPaths() {
  const {data: documentation} = await loadQuery<SanityDocument[]>({
    query: `*[_type == "documentation"]`,
  })

  return documentation.map(({slug}) => {
    return {
      params: {
        slug: slug.current,
      },
    }
  })
}

const {params} = Astro

const {data: documentation} = await loadQuery<DOCUMENTATION_QUERYResult>({
  query: DOCUMENTATION_QUERY,
  params,
})

if (!documentation) {
  Astro.response.status = 404
  throw new Error('Not found')
}

const {title, body} = documentation
const hero = documentation?.heroImage as HeroImage
const footerData: FooterData | null = documentation.footer
  ? {
      overview: (documentation.footer.overview ?? []) as FooterData['overview'],
      colophon: (documentation.footer.colophon ?? []) as FooterData['colophon'],
      credits: (documentation.footer.credits ?? []) as FooterData['credits'],
    }
  : null
---

<Layout data={footerData} pageTitle={title}>
  <article class="article">    
    <Hero image={hero} size={50} aspect={0.5625} />
    
    <div class="header">
      <h1>{title}</h1>
    </div>

    <div class="body">
      <PortableText portableText={body} />
    </div>
  </article>
</Layout>

<style>
  .article {
    padding: 1rem;
    @media (min-width: 800px) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
    .header {
      @media (min-width: 800px) {
        order: 1;
        width: 100%;
        padding-top: 1.3rem;
      }
      h1 {
        font-size: 40px;
        line-height: 48px;
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .body {
      @media (min-width: 800px) {
        order: 2;
        width: 70%;
        /* ensure that all portable text blocks have right padding in multi-column view. */
        h2,
        p,
        ol,
        ul {
          padding-right: 4rem;
        }
      }
      ul,
      ol {
        padding-left: 1.5rem;
        line-height: initial;
        li {
          padding-bottom: 1rem;
        }
      }
    }
  }
</style>
