---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
import {loadQuery} from '@sanity/lib/load-query'
import {ALL_METHODS_QUERY} from '@sanity/sanity.queries'
import type {ALL_METHODS_QUERYResult} from 'sanity.types'
import type { FooterData } from '@components/Footer.astro'

const {data: page} = await loadQuery<ALL_METHODS_QUERYResult>({
  query: ALL_METHODS_QUERY,
})

if (!page) {
  Astro.response.status = 404
  throw new Error('Not found')
}

const {methods} = page

const footerData: FooterData | null = page.footer
  ? {
      overview: (page.footer.overview ?? []) as FooterData['overview'],
      colophon: (page.footer.colophon ?? []) as FooterData['colophon'],
      credits: (page.footer.credits ?? []) as FooterData['credits'],
    }
  : null
---

<Layout data={footerData} pageTitle='UX Methods A-Z'>
  <section class="resource-cards">
    <h1>UX Methods A-Z</h1>
    <ul class="grid">
      {
        methods.length > 0 &&
          methods.map((method) => <Card content={method} size={'compact-card'} />)
      }
    </ul>
  </section>
</Layout>
