---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
import {loadQuery} from '@sanity/lib/load-query'
import {ALL_DISCIPLINES_QUERY} from '@sanity/sanity.queries'
import type {ALL_DISCIPLINES_QUERYResult} from 'sanity.types'
import type {FooterData} from '@components/Footer.astro'

const {data: page} = await loadQuery<ALL_DISCIPLINES_QUERYResult>({
  query: ALL_DISCIPLINES_QUERY,
})

if (!page) {
  Astro.response.status = 404
  throw new Error('Not found')
}

const {disciplines} = page

const footerData: FooterData | null = page.footer
  ? {
      overview: (page.footer.overview ?? []) as FooterData['overview'],
      colophon: (page.footer.colophon ?? []) as FooterData['colophon'],
      credits: (page.footer.credits ?? []) as FooterData['credits'],
    }
  : null
const description = page?.metaDescription as string || '';
---

<Layout data={footerData} pageTitle="UX Disciplines" description={description}>
  <section class="resource-cards">
    <h1>UX Disciplines</h1>
    <ul class="grid">
      {disciplines.length > 0 && disciplines.map((discipline) => <Card content={discipline} />)}
    </ul>
  </section>
</Layout>
