---
import Layout from '../layouts/Layout.astro'
import {loadQuery} from '@sanity/lib/load-query'
import { HOME_PAGE_QUERY } from '@sanity/sanity.queries'
import type { HOME_PAGE_QUERYResult } from 'sanity.types'

const {data: page} = await loadQuery<HOME_PAGE_QUERYResult>({
  query: HOME_PAGE_QUERY
})

if (!page) {
  Astro.response.status = 404
  throw new Error('Not found')
}
---
<Layout data={page.metadata}>
  <section class="headline">
    <h1>{page.title}</h1>
    <p class="display">Astro Update 2025</p>
    <p class="display">{page.tagline}</p>
    {page.methodPreviews.slice(0,5).map((method) => {
      return <>
      <p>{method.title}</p>
      <a href={"method/" + method.slug}>{method.slug}</a>
      </>
    }) }

  </section>
</Layout>
