---
import '@styles/home.css'
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
import {loadQuery} from '@sanity/lib/load-query'
import {HOME_PAGE_QUERY} from '@sanity/sanity.queries'
import type {HOME_PAGE_QUERYResult} from 'sanity.types'

const {data: page} = await loadQuery<HOME_PAGE_QUERYResult>({
  query: HOME_PAGE_QUERY,
})

const color = "dark"

if (!page) {
  Astro.response.status = 404
  throw new Error('Not found')
}
---

<Layout data={page.footer}>
  <section class="headline">
    <h1>{page.tagline}</h1>
    <p class="display">{page.description}</p>
  </section>

  <section class="resource-cards">
    <header>
      <h2>Top UX Methods</h2>
      <a href="/all-methods" class="header-link">All Methods A-Z</a>
    </header>
    <ul class="grid">
      {page.methodPreviews.slice(0, 6).map((content) => <Card content={content} color={color}/>)}
    </ul>
    <header>
      <h2>UX Disciplines</h2>
    </header>
    <ul class="grid">
      {page.disciplinePreviews.slice(0, 6).map((content) => <Card content={content} color={color} size={"compact-card"}/>)}
    </ul>
  </section>
</Layout>
