---
import {urlForImage} from '@sanity/lib/url-for-image'
import '@styles/card.css'

const {
  content: {title = '', type = 'method', slug = '', metaDescription = '', heroImage},
  color = 'light',
  size = 'full-card',
} = Astro.props

const img = heroImage ?? {}

const {asset, alt} = img

const url = urlForImage(asset).url()

const srcset =
  size == 'compact-card' // if size is compact-card, use smaller image sizes
    ? [125, 250] // compact card image sizes (max-width: 125px)
    : [375, 750] // full card image sizes (max-width: 375px)
const sizes =
  size == 'compact-card'
    ? '125px' // compact card image max width
    : '375px' // full card max width
const srcSetContent = asset
  ? srcset
      .map((size) => {
        const url = urlForImage(heroImage).width(size).height(size).auto('format').url()
        return `${url} ${size}w`
      })
      .join(',')
  : ''
---

<li class=`card ${size} ${color}`>
  <a href={`/${type}/${slug}`}>
    {
      asset && (
        <img
          src={url}
          srcset={srcSetContent}
          sizes={sizes}
          max-width={srcset[0]}
          max-height={srcset[0]}
          loading="lazy"
          alt={alt}
        />
      )
    }
    <div>
      <h3>{title}</h3>
      <p>{metaDescription}</p>
    </div>
  </a>
</li>

<style>
  li.full-card {
    display: flex;
    flex-direction: column;
    img {
      height: 225px;
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
    div {
      padding: 0.5rem 0.75rem 0.75rem;
      p {
        margin: 0.25rem 0;
        font-size: 90%;
        line-height: 1.5;
      }
    }
    a {
      overflow: hidden;
    }
  }
</style>
