---
import '@styles/footer.css'
import PortableText from '@components/PortableText.astro'
import type {SITE_METADATA_QUERYResult} from 'sanity.types'

type FooterMetadata = Pick<NonNullable<SITE_METADATA_QUERYResult>, 'footer'>

interface Props {
  data: FooterMetadata
}

const {data: {footer}} = Astro.props
---

<footer>
  <!-- <pre>{JSON.stringify(footer, null, 2)}</pre> -->
  <section>
    <div class="overview">
      <h1>{footer?.title}</h1>
      <PortableText portableText={footer?.overview} />
    </div>
    <div class="social">
      <h1>Share This Project</h1>
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.uxmethods.org/"
        target="_blank"
        rel="noopener">
        <!-- {% include 'icons/linkedIn.svg' %} -->
      </a>
      <a
        href="https://bsky.app/intent/compose?url=https://www.uxmethods.org/&text=UX%20Methods%20is%20a%20community%20powered,%20linked%20data%20driven%20knowledge%20graph%20for%20learning%20about%20the%20techniques%20of%20user%20experience%20design."
        target="_blank"
        rel="noopener">
        <!-- {% include 'icons/bluesky.svg' %} -->
      </a>
      <!-- {# Mastadon is a bit more involved — add this later #}
      {# <a href="#" target="_blank" rel="noopener">
        // {% include 'icons/mastadon.svg' %}
      </a> #} -->
    </div>
    <div class="colophon">
      <h1>Colophon</h1>
      <PortableText portableText={footer?.colophon} />
    </div>
    <div class="credit">
      <!-- {% for credit in metadata.credits %}
        { credit | safe }
      {% endfor %}
      {% include 'icons/creativeCommons.svg' %} -->
    </div>
  </section>
</footer>
