---
import type {SanityDocument} from '@sanity/client'
import {loadQuery} from '@sanity/lib/load-query'
import PortableText from '@components/PortableText.astro'
import Layout from '@layouts/Layout.astro'
import type {DISCIPLINES_QUERYResult} from 'sanity.types'
import Card from '@components/Card.astro'
import {DISCIPLINES_QUERY} from '@sanity/sanity.queries'

export async function getStaticPaths() {
  const {data: disciplines} = await loadQuery<SanityDocument[]>({
    query: `*[_type == "discipline"]`,
  })

  return disciplines.map(({slug}) => {
    return {
      params: {
        slug: slug.current,
      },
    }
  })
}

const {params} = Astro

const {data: discipline} = await loadQuery<DISCIPLINES_QUERYResult>({
  query: DISCIPLINES_QUERY,
  params,
})

if (!discipline) {
  Astro.response.status = 404
  throw new Error('Not found')
}
---
<Layout data={discipline.metadata}>
  <!-- <pre>{JSON.stringify(Astro, null, 2)}</pre> -->
  <h1>{discipline.title}</h1>
  <p>Meta: {discipline.metaDescription}</p>
  <p>Meta: {discipline.createdAt}</p>
  <PortableText portableText={discipline.overview} />
  {
    discipline.methods &&
      discipline.methods.map((resource) => {
        return <Card resource={resource}>{resource.title}</Card>
      })
  }
</Layout>
