---
import '@styles/topic-page.css'
import type {SanityDocument} from '@sanity/client'
import {loadQuery} from '@sanity/lib/load-query'
import PortableText from '@components/PortableText.astro'
import Layout from '@layouts/Layout.astro'
import type {DISCIPLINES_QUERYResult, HeroImage} from 'sanity.types'
import Card from '@components/Card.astro'
import Hero from '@components/Hero.astro'
import {DISCIPLINES_QUERY} from '@sanity/sanity.queries'

export async function getStaticPaths() {
  const {data: disciplines} = await loadQuery<SanityDocument[]>({
    query: `*[_type == "discipline"]`,
  })

  return disciplines.map(({slug}) => {
    return {
      params: {
        slug: slug.current,
      },
    }
  })
}

const {params} = Astro

const {data: discipline} = await loadQuery<DISCIPLINES_QUERYResult>({
  query: DISCIPLINES_QUERY,
  params,
})

const heroImage = discipline?.heroImage as HeroImage

if (!discipline) {
  Astro.response.status = 404
  throw new Error('Not found')
}
---

<Layout data={discipline.metadata} pageTitle={discipline.title}>
  <!-- <pre>{JSON.stringify(Astro, null, 2)}</pre> -->
  <article class="discipline">
    <section class="overview">
      <Hero image={heroImage} size={50} aspect={0.5625} discipline />
      <div class="discipline-summary">
        <div class="header">
          <h1>
            <span>{discipline.title}</span>
            <span>Discipline</span>
          </h1>
        </div>
        <div class="description">
          <PortableText portableText={discipline.overview} />
        </div>
      </div>
    </section>
    <section class="resource-cards">
      <header>
        <h2>{discipline.title} Methods</h2>
      </header>
      <ul class="grid">
        {discipline.methods.map((content) => <Card content={content} />)}
      </ul>
    </section>
  </article>
</Layout>

<style>
  .discipline-summary {
    @media (min-width: 800px) {
      order: 2;
      width: 45%;
      padding-left: 5%;
      div {
        width: 100%;
        p {
          padding-right: 0;
        }
      }
    }
  }
</style>
