---
import type {SanityDocument} from '@sanity/client'
import {loadQuery} from '@sanity/lib/load-query'
import PortableText from '@components/PortableText.astro'
import Layout from '@layouts/Layout.astro'
import { defineQuery } from 'groq'
import type {MethodsQueryResult } from '@sanity/sanity.types'


export async function getStaticPaths() {
  const {data: methods} = await loadQuery<SanityDocument[]>({
    query: `*[_type == "method"]`,
  })

  return methods.map(({slug}) => {
    return {
      params: {
        slug: slug.current,
      },
    }
  })
}

const {params} = Astro

const methodsQuery = defineQuery(`*[_type == "method" && slug.current == $slug][0]`)

const {data: method} = await loadQuery<MethodsQueryResult>({
  query: methodsQuery,
  params,
})
---

<Layout>
  <!-- <pre>{JSON.stringify(params, null, 2)}</pre> -->
  <h1>A post about {method?.title}</h1>
  <PortableText portableText={method?.overview} />
  <PortableText portableText={method?.steps} />
</Layout>
