---
import '@styles/topic-page.css'
import type {SanityDocument} from '@sanity/client'
import {loadQuery} from '@sanity/lib/load-query'
import PortableText from '@components/PortableText.astro'
import Layout from '@layouts/Layout.astro'
import Hero from '@components/Hero.astro'
import {METHODS_QUERY} from '@sanity/sanity.queries'
import type {HeroImage, METHODS_QUERYResult} from 'sanity.types'

export async function getStaticPaths() {
  const {data: methods} = await loadQuery<SanityDocument[]>({
    query: `*[_type == "method"]`,
  })

  return methods.map(({slug}) => {
    return {
      params: {
        slug: slug.current,
      },
    }
  })
}

const {params} = Astro

const {data: method} = await loadQuery<METHODS_QUERYResult>({
  query: METHODS_QUERY,
  params,
})

const heroImage = method?.heroImage as HeroImage

if (!method) {
  Astro.response.status = 404
  throw new Error('Not found - template rendering error')
}
---

<Layout data={method.metadata}>
  <!-- <pre>{JSON.stringify(params, null, 2)}</pre> -->
  <article class="method">
    <section class="overview">
      <Hero image={heroImage} />
      <div class="header">
        <h1>
          <span>{method.title}</span>
          <span>Method</span>
        </h1>
      </div>
      <div class="description">
        <PortableText portableText={method.overview} />
      </div>
    </section>
    <section class="details">
      <div class="steps">
        <h2>Steps</h2>
        <PortableText portableText={method.steps} />
      </div>
      <div class="outcomes">
        <h2>Outcomes</h2>
        <p>{method.title} typically produces insight and solutions focused on these areas:</p>
        <ul>
          {
            method.outcomes &&
              method.outcomes.map((outcome) => (
                <li>
                  <h3>{outcome.prefLabel}</h3>
                  <p>{outcome.definition}</p>
                </li>
              ))
          }
        </ul>
      </div>
    </section>
  </article>
</Layout>

<style>
  /* 👇Citations appear to have gone missing — investigate */
  .citation {
    font-size: 70%;
    vertical-align: top;
    padding-left: 0.25rem;
  }
  .details {
    .steps {
      ol {
        padding-left: 1.5rem;
      }
      li {
        margin-bottom: 0.75rem;
        line-height: 1.5;
      }
    }
    .outcomes {
      ul {
        list-style: none;
        padding-inline-start: 1.3rem;
        p {
          margin-top: 0;
        }
      }
    }
    @media (min-width: 800px) {
      display: flex;
      .steps {
        width: 70%;
        ol {
          padding-right: 6rem;
        }
        p {
          padding-right: 3rem;
        }
      }
      .outcomes {
        width: 30%;
        ul {
          padding-inline-start: 0;
        }
      }
    }
  }
</style>
