---
import type {SanityDocument} from '@sanity/client'
import {loadQuery} from '@sanity/lib/load-query'
import PortableText from '@components/PortableText.astro'
import Layout from '@layouts/Layout.astro'
import { METHODS_QUERY } from '@sanity/sanity.queries'
import type { METHODS_QUERYResult } from 'sanity.types'


export async function getStaticPaths() {
  const {data: methods} = await loadQuery<SanityDocument[]>({
    query: `*[_type == "method"]`,
  })

  return methods.map(({slug}) => {
    return {
      params: {
        slug: slug.current,
      },
    }
  })
}

const {params} = Astro

const {data: method} = await loadQuery<METHODS_QUERYResult>({
  query: METHODS_QUERY,
  params,
})
---

<Layout>
  <!-- <pre>{JSON.stringify(params, null, 2)}</pre> -->
  <h1>A post about {method?.title}</h1>
  <PortableText portableText={method?.overview} />
  <PortableText portableText={method?.steps} />
</Layout>
